<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="Common_Content/css/pdf.css" type="text/css" />
</head>
<body class="cover">
    <div class="[%- IF draft -%] draft[%- END -%]">
	<div class="logo"></div>
	<div class="leader">
		<div class="product">[%- product -%]</div>
		<div class="edition">[%- edition -%]</div>
	</div>
	<div class="docname">[%- docname -%]</div>
	<div class="subtitle">[%- subtitle -%]</div>
	<div class="authors">
	[%- FOREACH author = authors -%]
		<div class="author">[%- author -%]</div>
	[%- END -%]
	</div>
    <div>
</body>

</html>
