<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="Common_Content/css/pdf.css" type="text/css" />
</head>
<body class="cover">
    <div [%- IF draft -%]class="draft"[%- END -%]>
	<div class="logo" style="background-image:url([% logo %])"></div>
	<div class="leader">
		<div class="product">[%- product -%]</div>
		<div class="version">[%- version -%]</div>
	</div>
	<div class="docname">[%- docname -%]</div>
	<div class="subtitle">[%- subtitle -%]
	[% IF edition -%]<div class="edition">[%- edition -%]</div>[%- END %]
	</div>
	<div class="authors">
	[%- FOREACH author = authors %]
		<div class="author">[%- author -%]</div>
	[%- END %]
	</div>
    </div>
<div class="titlepages">
    <div [%- IF draft -%]class="draft"[%- END -%]>
	<div class="title">
		<span class="product">[%- product -%]</span> <span class="version">[%- version -%]</span> <span class="docname">[%- docname -%]</span>
	</div>
	<div class="subtitle">[%- subtitle -%]
	[% IF edition -%]<div class="edition">[%- edition -%]</div>[%- END %]
	</div>
	<div class="authors">
	[%- FOREACH contributor = contributors.author %]
		<div class="contributor">
			<div class="name">
				[% IF contributor.firstname -%]<span class="firstname">[%- contributor.firstname -%]</span> [%- END -%]
				[%- IF contributor.surname -%]<span class="surname">[%- contributor.surname -%]</span>[%- END %]
			</div>
			[% IF contributor.orgname || contributor.orgdiv %]<div class="org">
				[% IF contributor.orgname -%]<span class="">[%- contributor.orgname -%]</span> [%- END -%]
				[%- IF contributor.orgdiv -%] <span class="">[%- contributor.orgdiv -%]</span>[%- END %]
			</div>[%- END %]
			[% IF contributor.email -%]<div class="email">[%- contributor.email -%]</div>[%- END %]
			[% IF contributor.contrib -%]<div class="contrib">[%- contributor.contrib -%]</div>[%- END %]
		</div>
	[%- END %]
	[%- FOREACH contributor = contributors.corpauthor %]
		<div class="contributor">
			<div class="name">
				<span class="">[%- contributor.corpauthor -%]</span>
			</div>
		</div>
	[%- END %]
	</div>
	[%- IF contributors.editor %]
	<div class="editors">
		<h1>[%- editorlabel -%]</h1>
	[%- FOREACH contributor = contributors.editor -%]
		<div class="contributor">
			<div class="name">
				[% IF contributor.firstname -%]<span class="firstname">[%- contributor.firstname -%] </span>[%- END -%]
				[%- IF contributor.surname -%]<span class="surname">[%- contributor.surname -%]</span>[%- END %]
			</div>
			[% IF contributor.orgname || contributor.orgdiv %]<div class="org">
				[% IF contributor.orgname -%]<span class="">[%- contributor.orgname -%]</span> [%- END -%]
				[%- IF contributor.orgdiv -%]<span class="">[%- contributor.orgdiv -%]</span>[%- END %]
			</div>[%- END %]
			[% IF contributor.email -%]<div class="email">[%- contributor.email -%]</div>[%- END %]
			[% IF contributor.contrib -%]<div class="contrib">[%- contributor.contrib -%]</div>[%- END %]
		</div>
	[%- END %]
	</div>
	[%- END -%]
	[%- IF contributors.othercredit -%]
	<div class="othercredit">
		<h1>[%- contriblabel -%]</h1>
	[% FOREACH contributor = contributors.othercredit -%]
		<div class="contributor">
			<div class="name">
			[% IF contributor.firstname -%]<span class="firstname">[%- contributor.firstname -%]</span> [%- END -%]
			[%- IF contributor.surname -%]<span class="surname">[%- contributor.surname -%]</span>[%- END -%]
			[%- IF contributor.role-%] <span class="role">([%- contributor.role -%])</span>[%- END %]
			</div>
			[%- IF contributor.orgname || contributor.orgdiv-%]<div class="org">
			[%- IF contributor.orgname -%]<span class="">[%- contributor.orgname -%]</span> [%- END -%]
			[%- IF contributor.orgdiv -%]<span class="">[%- contributor.orgdiv -%]</span>[%- END -%]
			</div>[%- END -%]
			[%- IF contributor.email -%]<div class="email">[%- contributor.email -%]</div>[%- END %]
			[%- IF contributor.contrib -%]<div class="contrib">[%- contributor.contrib -%]</div>[%- END %]
		</div>
	[%- END %]
	</div>
	[%- END %]
	<div class="legalnotice">
		<h1>[%- legaltitle -%]</h1>
		<div>
			[%- legalnotice -%]
		</div>
	</div>

	[%- IF keywords -%]
	<div class="keywords">
		<h1>[%- keywordtitle -%]</h1>
		<div>
			[%- FOREACH keyword = keywords -%]<span class="keyword">[% loop.count %]. [%- keyword -%]. </span>[%- END %]
		</div>
	</div>
	[%- END %]

	[%- IF abstract -%]
	<div class="abstract">
		<h1>[%- abstracttitle -%]</h1>
		<div>
			[%- abstract -%]
		</div>
	</div>
	[%- END %]
    </div>
</div>
</body>

</html>

