/*welcome to the dity stylesheet.
rules are here because they either contain functions or pseudo classes that are not recognised by most css validators
still,  they provide a nice aesthetic addition, so we keep them here. */

pre, .screen{-moz-border-radius:11px;border-radius:8px;}
.example{-moz-border-radius:15px;}
div.note,div.tip ,div.important ,div.caution ,div.warning{-moz-border-radius:8px;}
.revhistory tr td:last-child{color:#777;width:10em;padding-left:10px;font-size:1.0em;}
ul li p:last-child  {margin-bottom:0em;padding-bottom:0em;}

