a:link {
	color:#0066cc;
}

a:hover, a:active {
	color:#003366;
}

a:visited {
	color:#6699cc;
}

h2,h3,h4,h5,h6 {
	color:#003d6e;
}

h1 {
	background: #0093d9 url(../images/h1-bg.png) top left repeat;
	color:white;
}

.example {
	background-color:#dddddd;
}

/*Notifications*/
div.note, div.tip, div.important, div.caution, div.warning {
	background-color: #0093d9;
	color:white;
}

div.note h2, div.tip h2, div.important h2, div.caution h2, div.warning h2 {
	color:white;
}

table {
	border:1px solid #0093d9;
}

table th {
	background-color:#0093d9;
}


table tr.even td {
	background-color:#f5f5f5;
}

.term{
	color:#a70000
}

