a:link {
	color:#5f8c00;
}

a:visited {
	color:#5f8c00;
}

h1 {
	color:#5f8c00;
}

.producttitle {
	background: #5f8c00 url(../images/h1-bg.png) top left repeat;
}

.section h1.title {
	color:#5f8c00;
}


h2,h3,h4,h5,h6 {
	color:#5f8c00;
}


#title a {
	height:105px;
}

#title {
	height:105px;
}

table {
	border:1px solid #aaa;
}

table th {
	background-color:#5f8c00;
}

table tr.even td {
	background-color:#f5f5f5;
}

.revhistory table th {
	color:#5f8c00;
}

.edition {
	color: #5f8c00;
}

