[Desktop Entry]
Name=Publican
Comment=How to use Publican
Exec=xdg-open @@FILE@@
Icon=@@ICON@@
Categories=Documentation;Publishing;X-Red-Hat-Base;
Type=Application
Encoding=UTF-8
Terminal=false
