[Desktop Entry]
Name=Publican - Users Guide
Comment=Publishing books, articles, papers and multi-volume sets with DocBook XML
Exec=xdg-open @@FILE@@
Icon=@@ICON@@
Categories=Documentation;X-Red-Hat-Base;
Type=Application
Encoding=UTF-8
Terminal=false
