a:link {
	color:#0066cc;
}

a:visited {
	color:#6699cc;
}

h1,h2,h3,h4,h5,h6 {
	color:#336699;
}

div.producttitle {
	color:#336699;
}

.section h1.title {
	color:#336699;
}

.revhistory table th {
	color:#336699;
}

.titlepage .edition {
	color: #336699;
}

