@import url("common.css");
@import url("overrides.css");
@import url("lang.css");

/* Cover Page styles */

html {
	height: 260mm;
}

body.cover {
	height: 100%;
	background-color: white;
/*	margin-left: 10em;
	margin-right: 10em;
*/	padding: 0px;
	font-family: "overpass", sans-serif;
	font-weight:300;
}

body.cover * {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body.cover div.logo {
	height: 30%;
        background-position: 50% 0%;
	margin-top: 15mm;
	background-image: url(../images/title_logo.svg);
	background-repeat: no-repeat;
}


body.cover div.leader {
	display: inline-block;
	font-size: 40px;
	font-weight: 600;
	margin-top: 2em;
}

body.cover div.product {
	display: inline;
}


body.cover div.edition {
	display: inline;
}

body.cover div.docname {
	font-size: 40px;
	font-weight: 600;
	height: 10%;
}

body.cover div.subtitle {
	height: 20%;
	font-weight:300;
	font-size: 20px;
	color: black;
	border-top: .1em solid black;
	padding-top: 40px;
}
body.cover div.authors {
}

body.cover div.author {
	float: left;
	min-width: 33%;
	margin-left
	font-weight: 300;
	font-size: 20px;
}


