a:link {
	color:#0066cc;
}

a:visited {
	color:#6699cc;
}

h2,h3,h4,h5,h6 {
	color:#a70000;
}

h1 {
	background: #800 url(../images/h1-bg.png) top left repeat;
	color:white;
}

.example {
	background-color:#c8c5ac;
}

/*Notifications*/
div.note, div.tip, div.important, div.caution, div.warning {
	background-color: #404040;
	color:white;
}

div.note h2, div.tip h2, div.important h2, div.caution h2, div.warning h2 {
	color:white;
}

table {
	border:1px solid #aaa;
}

table th {
	background-color:#900;
}

#title a {
	height:54px;
}

.term{
	color:#a70000
}

