<script>
    if(current_book != 'Books') {
        $('<div>'+labels[current_product][current_version][current_book]["label"]+'</div>').insertBefore("#book_menu_list");
    } else {
        $('<div>[% trans_strings.Books %]</div>').insertBefore("#book_menu_list");
    }
</script>
<ul id="book_menu_list" class="hidden">
[%- FOREACH book_name = books %]
  <li [% IF lang != book_list.${book_name}.lang %]class="untranslated [% lang %]"[% END %]>
        <a href="[% host %]/[% book_list.${book_name}.lang %]/[% product %]/[% book_list.${book_name}.version %]/html/[% book_list.${book_name}.book %]/index.html">[% book_list.${book_name}.book_clean %][% IF lang != book_list.${book_name}.lang %] <span>[% trans_strings.Untranslated %]</span>[% END %]</a>
  </li>
[%- END %]
</ul>

