<div>[% lang %]</div>
[%- IF langs %]
<ul id="book_lang_menu_list" class="hidden">
[%- FOREACH langs %]
  <li><a href="[% host %]/[% lang %]/[% product %]/[% version %]/[% book %]/index.html">[% lang_name %]</a></li>
[%- END %]
</ul>
[%- END %]

