<div>[% lang_name %]</div>
[%- IF langs.size > 0 %]
<ul id="book_lang_menu_list" class="hidden">
[%- FOREACH langs %]
  <li><a href="[% host %]/[% lang %]/[% product %]/[% version %]/html/[% book %]/index.html">[% lang_name %]</a></li>
[%- END %]
</ul>
[%- END %]

