[% INCLUDE 'web_2_head.tmpl' %]
<script type="text/javascript">
$(document).ready(function() {
	$('body').load("[% host %]/[% lang %]/splash.html");
	$('body').addClass('toc_embeded');
});

</script>
[% INCLUDE 'web_2_footer.tmpl' %]

