<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><TMPL_VAR name="title"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="Common_Content/css/default.css" />
</head>
<body class="reports">
	<h1><TMPL_VAR name="title"></h1>
	<ul class="locale">
	<TMPL_LOOP NAME="locales">
		<li>
			<h3 class="pofile"><a href="<TMPL_VAR name="lang">.html"><TMPL_VAR name="lang"> <TMPL_VAR name="name"></a></h3>
			<dl>
				<dt class="fuzzy">Fuzzy:</dt> <dd class="fuzzy"><TMPL_VAR name="hours_fuzzy"></dd>
				<dt class="untranslated">Untranslated:</dt> <dd class="untranslated"><TMPL_VAR name="hours_untranslated"></dd>
				<dt class="remaining">Remaining:</st> <dd class="remaining"><TMPL_VAR name="hours_remaining"></dd>
			</dl>
			<div class="progress">
				<span class="translated" style="width:<TMPL_VAR name="hours_translated_pct">%"></span>
				<span class="fuzzy" style="width:<TMPL_VAR name="hours_fuzzy_pct">%"></span>
			</div>
		</li>
	</TMPL_LOOP>
	</ul>
</body>
</html>
		

