<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="interactive.css" type="text/css" />
	<title>Site Statistics</title>
</head>
<body  class="toc_embeded">
<div id="tocdiv" class="toc"><iframe id="tocframe" class="toc" src="./en-US/toc.html">This is an iframe, to view it upgrade your browser or enable iframe display.</iframe></div>
<div>
<h1 class="producttitle">Site Statistics</h1>
<p>
</p>
<table class="stats">
	<tr>
		<th>Language</th>
		<th>Code</th>
		<th>Products</th>
		<th>Books</th>
		<th>Versions</th>
		<th>Packages</th>
	</tr>
	<TMPL_LOOP NAME="stat_langs">
	<tr>
		<td><TMPL_VAR name="language"></td>
		<td><TMPL_VAR name="code"></td>
		<td><TMPL_VAR name="products"></td>
		<td><TMPL_VAR name="books"></td>
		<td><TMPL_VAR name="versions"></td>
		<td><TMPL_VAR name="packages"></td>
	</tr>
	</TMPL_LOOP>
</table>
<div class="totals">
	<b>Total Languages: </b><TMPL_VAR name="total_langs"><br />
	<b>Total Packages: </b><TMPL_VAR name="total_packages">
</div>
</body>
</html>

