<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="interactive.css" type="text/css" />
	<title>[% Site_Map %]</title>
</head>
<body class="tocnav">
<div class="static_tocnavwrap">
<h1 class="producttitle">[% Site_Map %]</h1>
	<ul>
	[% FOREACH static_langs_toc %]
		<li><a href="#[% toc_name %]">[% toc_name %]</a></li>
	[% END %]
	</ul>
	[% FOREACH static_langs %]
	<div class="perlang" id="[% name %]">
		<h2>[% name %] ([% langloc %])</h2>
		[% FOREACH products %]
		<div class="product">
			<span id="[% product %]" class="product">[% product_clean %]</span>
			<div class="versions">
			[% FOREACH versions %]
			    [%- IF version_label != 'UNUSED' -%]
				<div class="version">
					<span class="version">[% version %]</span>
			    [%- END -%]
					<div class="books">
					[% FOREACH books %]
						<div class="book">
							<span id="[% book %]" class="book">[% book_clean %]</span> 
							<div class="types">
							[% FOREACH types %]
								<a class="type" href="[% prep %][% langloc %]/[% product %]/[% version %]/[% type %]/[% book %]/[% ext %]">[% type %]</a>
			        			[% END %]
							</div>
						</div>
	        			[% END %]
					</div>
			    [%- IF version_label != 'UNUSED' -%]
				</div>					
			    [%- END -%]
			[% END %]
			</div>					
		</div>					
       		[% END %]
	</div>
	[% END %]
</div>					
</body>
</html>

