<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../interactive.css" type="text/css" />
	<title>[% Site_Statistics %]</title>
</head>
<body  class="toc_embeded">
<div id="tocdiv" class="toc"><iframe id="tocframe" class="toc" src="toc.html">[% iframe %]</iframe></div>
<div>
<h1 class="producttitle">[% Site_Statistics %]</h1>
<p>
</p>
<table class="stats">
	<tr>
		<th>[% Language %]</th>
		<th>[% Code %]</th>
		<th>[% Products %]</th>
		<th>[% Books %]</th>
		<th>[% Versions %]</th>
		<th>[% Packages %]</th>
	</tr>
	[% FOREACH stat_langs %]
	<tr>
		<td>[% language %]</td>
		<td>[% code %]</td>
		<td>[% products %]</td>
		<td>[% books %]</td>
		<td>[% versions %]</td>
		<td>[% packages %]</td>
	</tr>
	[% END %]
</table>
<div class="totals">
	<b>[% Total_Languages %]: </b>[% total_langs %]<br />
	<b>[% Total_Packages %]: </b>[% total_packages %]
</div>
</body>
</html>

